.main {
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  border: 5px solid black;
}

.main__legend {
  background-color:firebrick;
  color: white;
  padding: 5px;
  }
  
  .main__button {
    background-color:  firebrick;
    color: white;
  }
  
  